{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Resume - Start Bootstrap Theme</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i"
    rel="stylesheet">
  <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/devicons/css/devicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'vendor/simple-line-icons/css/simple-line-icons.css' %}" rel="stylesheet">
  <link rel="stylesheet" type='text/css' href="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/devicon.min.css" />

  <!-- Custom styles for this template -->
  <link href="{% static 'css/resume.min.css' %}" rel="stylesheet">

</head>

<body id="page-top">

  <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
      <span class="d-block d-lg-none">Start Bootstrap</span>
      <span class="d-none d-lg-block">
        <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="{% static 'img/profile1.jpg' %}" alt="">
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#about">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#experience">Experience</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#education">Education</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#language">Language</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#project">projects</a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container-fluid p-0">

    <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
      <div class="my-auto">
        <h1 class="mb-0">{{name}}
          <span class="text-primary">{{surname}}</span>
        </h1>
        <div class="subheading mb-5">{{Location}} · {{phone}} ·
          <a href="mailto:name@email.com">{{email}}</a>
        </div>
        <p class="mb-5">I am experienced in Java language but I realy enjoy programming with python specialy django
          framework</p>
        <ul class="list-inline list-social-icons mb-0">

          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/farimahtizghadam">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/farimah-tizghadam">
              <span class="fa-stack fa-lg">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
              </span>
            </a>
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
      <div class="my-auto">
        <h2 class="mb-5">Experience</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Junior Backend developer</h3>
            <div class="subheading mb-3">power dispensation</div>
            <p>developing power disensation website and application using java pure, hibernate and also spring
              framework.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">May 2024 - March 2025</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">seo analyst</h3>
            <div class="subheading mb-3">Calibration equipment</div>
            <p>I worked as a seo analyst and provided a positive user experience and appopriate content strategy to
              satisfy user quiries.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2023 - January 2024</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Junior Web Designer</h3>
            <div class="subheading mb-3">freelanser</div>
            <p>developing website templates.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">2022 - 2023</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">English tuter</h3>
            <div class="subheading mb-3">pardisan school</div>
            <p>teaching iletls and advanced.</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">December 2019 - 2022</span>
          </div>
        </div>

      </div>

    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
      <div class="my-auto">
        <h2 class="mb-5">Education</h2>

        <div class="resume-item d-flex flex-column flex-md-row mb-5">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Islamic Azad University tehran center branch</h3>
            <div class="subheading mb-3">Bachelor of English literature</div>
            <div>English Literature</div>
            <p>GPA: 16</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">November 2019 - 2025</span>
          </div>
        </div>

        <div class="resume-item d-flex flex-column flex-md-row">
          <div class="resume-content mr-auto">
            <h3 class="mb-0">Maktab Sharif coding bootcamp</h3>
            <div class="subheading mb-3">Java / spring</div>
            <p>GPA: 80/100</p>
          </div>
          <div class="resume-date text-md-right">
            <span class="text-primary">April 2023 - January 2024 (+400 hours)</span>
          </div>
        </div>

      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
      <div class="my-auto">
        <h2 class="mb-5">Skills</h2>

        <div class="subheading mb-3">Programming Languages &amp; Tools</div>
        <ul class="list-inline list-icons">
          <li class="list-inline-item">
            <i class="devicons devicons-html5" title="html5"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-css3" title="css3"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-javascript" title="javascript"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-bootstrap" title="bootstrap"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-wordpress" title="wordpress"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-python" title="python"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicons devicons-java" title="java"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-postman-plain" title="postman"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-maven-plain" title="maven"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-mysql-original" title="mysql"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-spring-original" title="spring"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-postgresql-plain" title="postgresql"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-selenium-original" title="selenium"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-hibernate-plain" title="hibernate"></i>
          </li>
          <li class="list-inline-item">
            <i class="devicon-django-plain" title="django"></i>
          </li>
        </ul>

        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-check"></i>
            Responsive Design
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Debugging
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Network fundamental
          </li>
          <li>
            <i class="fa-li fa fa-check"></i>
            Relational databases & Entity relationship diagram
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="language">
      <div class="my-auto">
        <h2 class="mb-5">Language</h2>
        <ul class="fa-ul mb-0">
          <li>
            English &nbsp; &nbsp; &nbsp; advanced
          </li>
        </ul>
      </div>
    </section>

    <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="project">
      <div class="my-auto">
        <h2 class="mb-5">projects</h2>
        <ul class="fa-ul mb-0">
          <li>
            <i class="fa-li fa fa-trophy text-warning"></i>
            <a href="https://github.com/farimah-tizghadam/my-resume.git">My latest project</a>
          </li>
        </ul>
      </div>
    </section>

  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/resume.min.js' %}"></script>

</body>

</html>